<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from admin.pixelstrap.com/wingo/theme/dashboard-03.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 05 Feb 2023 13:18:05 GMT -->

<head>
  <% include layouts/header.ejs %>
</head>

<body>
  <div class="page-wrapper compact-wrapper" id="pageWrapper">
    <% include layouts/page_main_header.ejs %>
      <div class="page-body-wrapper sidebar-icon">
        <% include layouts/main_nav.ejs %>
          <div class="page-body porject-dash">
            <!-- Container-fluid starts-->
            <div class="container-fluid project-dash">
              <div class="row size-column">
                <div class="col-xl-8 des-xl-100 congrats-sec-main box-col-12">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="card">
                        <div class="card-body p-0">
                          <div class="congrats-sec">
                            <div class="card-header-right">
                              <ul class="setting-option bg-transparent">
                                <li>
                                  <div class="setting-badge light-badge"><i class="fa fa-cog"></i></div>
                                </li>
                                <li><i class="view-html fa fa-code"></i></li>
                                <li><i class="icofont icofont-maximize full-card"></i></li>
                                <li><i class="icofont icofont-minus minimize-card"></i></li>
                                <li><i class="icofont icofont-refresh reload-card"></i></li>
                                <li><i class="icofont icofont-error close-card"></i></li>
                              </ul>
                            </div>
                            <div class="congrats-content">
                              <h3>Chia sẻ cảm xúc cùng cộng đồng </h3>
                              <p>Lorem ipsum is simply dummy text of the printing and typesetting printing and
                                typesetting industry.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 box-col-12 box-col-6">
                      <div class="card today-task-sec">
                        <div class="card-header justify-content-between">
                          <h5>Today Task</h5>
                          <div class="center-content">
                            <p>5 Task</p><span>Completed</span>
                          </div>
                          <div class="card-header-right">
                            <ul class="setting-option">
                              <li>
                                <div class="setting-badge"><i class="fa fa-spin fa-cog font-primary"></i></div>
                              </li>
                              <li><i class="view-html fa fa-code font-primary"></i></li>
                              <li><i class="icofont icofont-maximize full-card font-primary"></i></li>
                              <li><i class="icofont icofont-minus minimize-card font-primary"></i></li>
                              <li><i class="icofont icofont-refresh reload-card font-primary"></i></li>
                              <li><i class="icofont icofont-error close-card font-primary"></i></li>
                            </ul>
                          </div>
                        </div>
                        <div class="card-body p-t-0">
                          <div class="table-responsive task-details">
                            <table class="table table-bordernone">
                              <tbody>
                                <tr>
                                  <td><span>Google Project Apply Review</span>
                                    <p>Completed in 3 Hours</p>
                                  </td>
                                  <td class="progress-showcase">
                                    <div class="progress sm-progress-bar">
                                      <div class="progress-bar bg-primary" role="progressbar" style="width: 75%"
                                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <p>75% Percentage</p>
                                  </td>
                                  <td> <a class="btn light-primary" href="javascript:void(0)">Edit</a></td>
                                </tr>
                                <tr>
                                  <td><span>Business Logo Create</span>
                                    <p>Completed in 5 Hours</p>
                                  </td>
                                  <td class="progress-showcase">
                                    <div class="progress sm-progress-bar">
                                      <div class="progress-bar bg-secondary" role="progressbar" style="width: 100%"
                                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <p>Completed</p>
                                  </td>
                                  <td><a class="btn light-secondary" href="javascript:void(0)">Edit</a></td>
                                </tr>
                                <tr>
                                  <td><span>Business Project Research</span>
                                    <p>Completed in 2 Hours</p>
                                  </td>
                                  <td class="progress-showcase">
                                    <div class="progress sm-progress-bar">
                                      <div class="progress-bar bg-success" role="progressbar" style="width: 65%"
                                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <p>65% Percentage</p>
                                  </td>
                                  <td><a class="btn light-success" href="javascript:void(0)">Edit</a></td>
                                </tr>
                                <tr>
                                  <td><span>Recruitment in IT Department</span>
                                    <p>Completed in 4 Days</p>
                                  </td>
                                  <td class="progress-showcase">
                                    <div class="progress sm-progress-bar">
                                      <div class="progress-bar bg-warning" role="progressbar" style="width: 90%"
                                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <p>90% Percentage</p>
                                  </td>
                                  <td><a class="btn light-warning" href="javascript:void(0)">Edit</a></td>
                                </tr>
                                <tr>
                                  <td><span>Submit Riverfront Project</span>
                                    <p>Completed in 2 Days</p>
                                  </td>
                                  <td>
                                    <div class="progress-showcase">
                                      <div class="progress sm-progress-bar">
                                        <div class="progress-bar bg-info" role="progressbar" style="width: 30%"
                                          aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                      </div>
                                      <p>30% Percentage</p>
                                    </div>
                                  </td>
                                  <td><a class="btn light-info" href="javascript:void(0)">Edit</a></td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <div class="text-center"><a class="f-w-700" href="javascript:void(0)">More...</a></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 des-xl-100 congrats-sec-main box-col-12">
                  <div class="row">
                    <div class="col-md-12 box-col-12 box-col-12">
                      <div class="card today-task-sec">
                        <div class="card-body p-t-0" style="height: 600px;">
                          <ul id="messages"></ul>
                        </div>
                        <div class="">
                          <form id="chat-form">
                            <input type="text" id="chat-mes">
                            <button id="send-chat">Gửi</button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Container-fluid Ends-->
          </div>
      </div>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io();

    var Nickname = document.cookie;

    const chatForm = document.querySelector('#chat-form');
    const chatMes = document.querySelector('#chat-mes');

    chatForm.addEventListener('submit', (e) => {
      e.preventDefault();
      const message = chatMes.value
      socket.emit('on-chat', {
        Nickname,
        message: message
      });
      chatMes.value = ''
    })

    const messages = document.querySelector('#messages');
    socket.on('user-chat', (message) => {
      const chatItem = document.createElement("li");
      chatItem.textContent = `${message.Nickname}: ${message.message}`;
      messages.appendChild(chatItem);
    })
  </script>
  <!-- latest jquery-->
  <script src="../assets/js/jquery-3.5.1.min.js"></script>
  <!-- feather icon js-->
  <script src="../assets/js/icons/feather-icon/feather.min.js"></script>
  <script src="../assets/js/icons/feather-icon/feather-icon.js"></script>
  <!-- Sidebar jquery-->
  <script src="../assets/js/sidebar-menu.js"></script>
  <script src="../assets/js/config.js">   </script>
  <!-- Bootstrap js-->
  <script src="../assets/js/bootstrap/popper.min.js"></script>
  <script src="../assets/js/bootstrap/bootstrap.min.js"></script>
  <script src="../assets/js/dashboard/dashboard_3.js"></script>
  <!-- Plugins JS Ends-->
  <script src="../assets/js/script.js"></script>
  <!-- login js-->
  <!-- Plugin used-->
</body>

</html>