<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from admin.pixelstrap.com/wingo/theme/dashboard-03.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 05 Feb 2023 13:18:05 GMT -->

<head>
  <% include layouts/header.ejs %>
</head>

<body>
  <div class="page-wrapper compact-wrapper" id="pageWrapper">
    <% include layouts/page_main_header.ejs %>
      <div class="page-body-wrapper sidebar-icon">
        <% include layouts/main_nav.ejs %>
          <div class="page-body porject-dash">
            <!-- Container-fluid starts-->
            <div class="container-fluid project-dash">
              <div class="row size-column">
                <div class="col-xl-8 des-xl-100 congrats-sec-main box-col-12">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="card">
                        <div class="card-body p-0">
                          <div class="congrats-sec">
                            <div class="card-header-right">
                            </div>
                            <div class="congrats-content">
                              <h3>Chia sẻ cảm xúc cùng cộng đồng </h3>
                              <p>Chia sẻ những câu chuyện bạn muốn kể mà không có ai để có thể chia sẻ với mọi người. Đảm bảo 100% ẩn danh.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12 box-col-12 box-col-12">
                      <div class="card today-task-sec" style=" border-radius: 30px;">
                        <div class="card-body p-t-0" style="padding: 10px;">
                          <div class="row">
                            <div class="col-1">

                            </div>
                            <div class="col-11">
                              <button class="btn" style="padding: 10px; background-color: #ececec; width: 100%; margin-top: 10px; border-radius: 30px; color: #b2b0b0;" type="button" data-bs-toggle="modal" data-original-title="test" data-bs-target="#exampleModal">Chia sẻ câu chuyện của bạn...</button>
                            </div>
                          </div>
                          <hr/>
                          <div class="row">
                            <div class="col-4">
                              
                            </div>
                            <div class="col-4"></div>
                            <div class="col-4"></div>
                          </div>
                          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" style="padding-left: 35%;" id="exampleModalLabel">Đăng bài viết mới</h5>
                                  <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                  <form action="dashboard/bai-dang" method="POST" id="post-form">
                                    <input type="hidden" id="nickname" name="nickname">
                                    <input class="form-control" id="content" name="content" placeholder="Chia sẻ câu chuyện của bạn....." style="height: 76px;">
                                    <button class="btn btn-primary" style="margin-top: 10px; width: 100%; padding-left: 45%;" type="submit" id="send-post">Đăng bài</button>
                                  </form>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <ul id="new_post"></ul>
                    <% list_posts.forEach(function(list_posts){ %>
                      <div class="col-md-12 box-col-12 box-col-12">
                        <div class="card today-task-sec">
                          <div class="card-body p-t-0">
                            <div>
                              <br/>
                             <b><h5 style="text-transform:none"><%= list_posts.nickname %></h5></b>
                             <%= list_posts.content %>
                            </div>
                          </div>
                        </div>
                      </div>
                    <% }); %>
                  </div>
                </div>
                <div class="col-xl-4 des-xl-100 congrats-sec-main box-col-12">
                  <div class="row">
                    <div class="col-md-12 box-col-12 box-col-12">
                      <div class="card today-task-sec" style="margin-bottom: 10px; border-radius: 25px;">
                        <div class="card-body p-t-0 input-air-primary" style="height: 600px; border-radius: 25px; overflow: auto">
                          <ul style="margin-top: 20px;" id="messages"></ul>
                        </div>
                      </div>
                      <div class="col-md-12 box-col-12 box-col-12">
                        <form id="chat-form">
                          <div class="row">
                            <div class="col-md-12 box-col-12 box-col-12">
                              <div class="input-group pill-input-group">
                                <input class="form-control btn-pill input-air-primary" type="text" id="chat-mes">
                                <button class="input-group-text btn-pill input-air-primary" style="color: white; border: none; background-color: #4d8aff;">Gửi</button>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Container-fluid Ends-->
          </div>
      </div>
  </div>
  <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io();

    var Nickname = document.cookie;

    document.querySelector("#nickname").value=`${Nickname}`;

    const chatForm = document.querySelector('#chat-form');
    const chatMes = document.querySelector('#chat-mes');

    chatForm.addEventListener('submit', (e) => {
      e.preventDefault();
      const message = chatMes.value
      socket.emit('on-chat', {
        Nickname,
        message: message
      });
      chatMes.value = ''
    })

    const messages = document.querySelector('#messages');
    socket.on('user-chat', (message) => {
      const chatItem = document.createElement("li");
      chatItem.classList.add("my-message")
      chatItem.textContent = `${message.Nickname}: ${message.message}`;
      messages.appendChild(chatItem);
    })

    // CREATE POST
    const postForm = document.querySelector('#post-form')
    const postContent = document.querySelector('#content');
    const button = document.querySelector("#send-post");
    
    postForm.addEventListener('submit', (e) => {
      
      e.preventDefault();
      const newPost = postContent.value
      const new_posts = {
        nickname : Nickname,
        content : postContent.value
      }
      $.post('http://localhost:3000/dashboard/bai-dang', new_posts);
      socket.emit('on-post', {
        Nickname,
        newPost: newPost
      });
      button.setAttribute("data-bs-dismiss", "modal");
      $('#send-post').trigger('click');
      button.removeAttribute("data-bs-dismiss", "modal");
      postContent.value = ''
    })

    const new_post = document.querySelector('#new_post');
    
    socket.on('user-post', (post) => {
      const postItem = document.createElement("li");
      postItem.classList.add("my-post")
      const POST = `
        <div class="col-md-12 box-col-12 box-col-12">
          <div class="card today-task-sec">
            <div class="card-body p-t-0">
              <div>
                <br/>
               <b><h5 style="text-transform:none">${post.Nickname}</h5></b>
                ${post.newPost}
              </div>
            </div>
          </div>
        </div>
      `
      postItem.textContent = document.querySelector('#new_post').innerHTML = POST;
      
    });

  </script>
  <!-- latest jquery-->
  <script src="../assets/js/jquery-3.5.1.min.js"></script>
  <!-- feather icon js-->
  <script src="../assets/js/icons/feather-icon/feather.min.js"></script>
  <script src="../assets/js/icons/feather-icon/feather-icon.js"></script>
  <!-- Sidebar jquery-->
  <script src="../assets/js/sidebar-menu.js"></script>
  <script src="../assets/js/config.js">   </script>
  <!-- Bootstrap js-->
  <script src="../assets/js/bootstrap/popper.min.js"></script>
  <script src="../assets/js/bootstrap/bootstrap.min.js"></script>
  <script src="../assets/js/dashboard/dashboard_3.js"></script>
  <!-- Plugins JS Ends-->
  <script src="../assets/js/script.js"></script>
  <!-- login js-->
  <!-- Plugin used-->
</body>

</html>