.my-message {
    margin-bottom: 10px;
    font-size: 16px;
    padding: 12px;
    box-shadow: 0 3px 5px 1px rgba(88, 103, 221, 0.15) !important;
    border-radius: 15px;
    white-space: pre-line;
    display: table;
    background-color: rgb(0, 132, 255);
    color: white;
}

#up-image {
    background-color: rgb(66, 173, 236);
}

#up-image:hover {
    background-color: rgb(24, 155, 243);
}

.file-upload {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    margin: 0 auto;
    padding: 5px;
}

.file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: rgb(255, 255, 255);
    border: none;
    border-radius: 4px;
    border-bottom: 4px solid rgb(0, 132, 255);
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

.file-upload-btn:hover {
    background: #3fb2f0;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}

.file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
}

.file-upload-content {
    display: none;
    text-align: center;
}

.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

.image-upload-wrap {
    border-radius: 15px;
    background-color: rgb(224, 224, 224);
    /* border: 1px solid rgb(205, 205, 205); */
    position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
    background-color: rgb(188, 188, 188);
    border: none;
}

.image-title-wrap {
    color: #222;
}

.drag-text {
    text-align: center;
}

.drag-text h5 {
    
    color: rgb(50, 50, 50);
    padding: 60px 0;
}

.file-upload-image {
    max-height: 100%;
    max-width: 100%;
    margin: auto;
    border-radius: 15px;
}

.remove-image {
    position: absolute;
    z-index: 1;
    right: 15px;
    background: none;
    border: none;
    top: 115px;
}

.remove-image:hover {
    cursor: pointer;
}

.remove-image:active {
    border: 0;
    transition: all .2s ease;
}